<div class="login-page">
  <div class="row">
    <div class="form-box col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <img src="../../assets/images/avatar.png" class="user-avatar" />
      <h1>CityCam </h1>
      <h4>Register User</h4>
      <!--(ngSubmit)="f.form.valid && register()"-->
      <form name="form"  #f="ngForm">
        <div class="form-content">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <input [(ngModel)]="user.username" #username="ngModel" name="username" type="text" autofocus="" class="form-control input-underline input-lg"
              placeholder="Username" minlength="4" maxlength="20" required>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required (min lenght:4)</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <input [(ngModel)]="user.email" #email="ngModel" name="email" type="email" class="form-control input-underline input-lg"
              placeholder="Email" required>
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input [(ngModel)]="user.password" #password="ngModel" name="password" type="password" class="form-control input-underline input-lg"
              placeholder="Password" minlength="4" maxlength="20" required>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required (min lenght:4)</div>
          </div>
        </div>
        <button type="button" (click)="register()" class="btn btn-green btn-lg btn-rounded">Register
        </button>
      </form>
      <a class="auth-link" [routerLink]="['/login']">Back to login</a>
    </div>
  </div>
</div>
